[ClassicUI]
# Status Panel Position X
MainWindowOffsetX=1193
# Status Panel Position Y
MainWindowOffsetY=714
# Font Size
#FontSize=0
# Font
Font=
# Menu Font
MenuFont=
# Font Locale to display
#FontLocale=zh_CN.UTF-8
# Use System Tray Icon
# Available Value:
# True False
#UseTray=True
# Status Panel Hide Mode
# Available Value:
# Show
# Auto
# Hide when tray icon is available
# Hide
MainWindowHideMode=Auto
# Vertical Candidate Word List
# Available Value:
# True False
VerticalList=True
# Skin Name
#SkinType=default

