[C_Link_for_Program]
row=5
col=0

[274 GB Volume]
row=3
col=0

[38 GB Volume]
row=0
col=0

[Maple's_Workspace]
row=4
col=0

[Download_and_Data]
row=0
col=1

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=1
col=1

